<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-15 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">
                    <!--                    <h2 class="text-capitalize mt-3">Shadow's</h2>-->
                </div>
                <div class="card-body p-3">
                    <div class="chart" style="height: 100%;">
                        <h2>Statistics</h2><hr>
                        <h4>관리자 통계 페이지</h4>
                        <hr/>
                        <form>
                            <h4>Call 횟수</h4>

                            <table class="table table-hover">
                                <thead class="table">
                                <tr class="text-center">
                                    <th class="fw-bolder">사용자 이름</th>
                                    <th class="fw-bolder">챗봇 이름</th>
                                    <th class="fw-bolder">Clova API Call</th>
                                    <th class="fw-bolder">DB CALL</th>
                                </tr>
                                </thead>
                                <tbody class="tbody">
                                <tr class="text-center datas" th:each="shadow : ${shadows}" style="border-top:2px solid lightgray">
                                    <td>
                                        <div th:text="${shadow.member.name}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${shadow.name}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${shadow.apicall}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${shadow.dbcall}"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>