<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JQUERY JS -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link th:href="@{/css/chatbot.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/chatbot.js}"></script>
</head>
<body>
<h1>쿠팡입니다.</h1>
<div th:replace="chatbot/chatbot :: chatbotFragment"></div>
</body>

</html>