<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-15 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">
                    <h2 class="text-capitalize mt-3 mx-auto">Shadow's</h2>
                </div>
                <div class="card-body p-3">
                    <div class="chart" style="height: 100%;">
                        <!-- Page Content-->
                        <div class="container-fluid p-3">
                            <div class="mg-10">
                                <h3>고객이 원하는 곳으로</h3>
                                <h3>고객 서비스 자동화는 Shadow으로</h3>
                                <h3>당신이 직접 만드는 쇼핑몰 도우미</h3>
                            </div>
                            <p>😃 더 이상 고객을 놓치고 싶지 않아요</p>
                            <p>😆 고객의 서비스 이용을 쉽게하고 싶어요</p>
                            <p>😖 무료로 사용하고 싶어요</p>
                            <p>💥 서비스 기능을 쉽게 이용하도록 하고 싶어요</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>