<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"> 메인 페이지</div>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <div class="mg-10">
        <h3>고객이 원하는 곳으로</h3>
        <h3>고객 서비스 자동화는 Shadow으로</h3>
        </div>
        <p>😃 더 이상 고객을 놓치고 싶지 않아요</p>
        <p>😆 고객의 서비스 이용을 쉽게하고 싶어요</p>
        <p>😖 무료로 사용하고 싶어요</p>
        <p>💥 서비스 기능을 쉽게 이용하도록 하고 싶어요</p>
    </div>
</div>
</html>
