<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-image: url('/assets/img/header-bg.png')">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/}">Shadow logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAnonymous()" th:href="@{/shadow/create}">shadow 만들기</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAuthenticated()" th:href="@{/shadow/list}">Shadow</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAuthenticated()" th:href="@{/members}">회원정보</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAuthenticated()" href="/docs">문서</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="isAuthenticated()" href="/contact">문의사항</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" sec:authorize="hasRole('ADMIN')" href="/admin">admin</a></li>
      </ul>
    </div>
  </div>
</nav>