<!-- Navigation-->
<nav th:fragment="sidebarFragment" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" style="background-image: url('/assets/img/header-bg.png')">
    <a class="navbar-brand js-scroll-trigger" href="/main">
        <span class="d-block d-lg-none">Clarence Taylor</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                                             src="/assets/img/shadow_icon_01.png" alt="..."/></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger bg-light text-dark" href="#">shadow 등록</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/shadow/create">shadow 새로 만들기</a></li>
            <!-- my 에서 요약화면을 보여줄지 아닐지-->
            <li class="nav-item"><a class="nav-link js-scroll-trigger bg-light text-dark" href="#">My Shadow</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger " href="/shadow/list">나의 Shadow 목록</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger " href="/my/plugins">내 쇼핑몰에 설치하기</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger bg-light text-dark" href="#">Shadow 가이드</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger " href="/shadow/doc">Shadow docs</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger " href="/shadow/doc/tutorial">Shadow 튜토리얼</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger bg-light text-dark" href="/shadow/contact">문의사항</a></li>
        </ul>
    </div>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">상위로</a>
    <li class="nav-item"><a class="nav-link js-scroll-trigger px-lg-3 py-3 py-lg-4" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
    <li class="nav-item"><a class="nav-link js-scroll-trigger px-lg-3 py-3 py-lg-4" sec:authorize="hasRole('ADMIN')" href="/admin">admin</a></li>
</nav>
<!--Sidebar JS-->
<script th:src="@{/js/sidebar.js}"></script>