<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout_sidebar}">
<div layout:fragment="content" class="container my-3">
    <!-- 사이드 바 -->
    <nav th:replace="sidebar :: sidebarFragment"></nav>
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"><h2> shadow 목록</h2></div>
    <!-- Page Content-->
    <h3>내 쇼핑몰</h3>
    <p>쿠팡</p>
    <div class="boarder">
    </div>
    <p>내 쇼핑몰 순서도</p>
    <button>주문</button>
    <p>마이홈</p>
    <p>장바구니</p>
    <p>주문하기</p>
    <button>반품</button>
    <p>마이홈</p>
    <p>주문내역</p>
    <p>반품</p>
</div>
</html>
