<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout_sidebar}">
<div layout:fragment="content" class="container my-3">
    <!-- 사이드 바 -->
    <nav th:replace="sidebar :: sidebarFragment"></nav>
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"><h2> shadow 목록</h2></div>
    <!-- Page Content-->
    <div class="mb-5 border-bottom border-dark">
        <h3>내 쇼핑몰</h3>
        <p th:text="|쇼핑몰 명 : ${shadow.name}|"></p>
        <p th:text="|쇼핑몰 URL : ${shadow.mainurl}|"></p>
    </div>
    <div class="mb-5 border-bottom border-dark">
        <h3>내 쇼핑몰 순서도</h3>
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>키워드</th>
                <th style="width:70%">순서도</th>
                <th>자주찾는 목록</th>
            </tr>
            </thead>
            <tbody class="tbody">
            <th:block th:each="keyword : ${shadow.keywords}">
            <tr class="text-center datas">

                <td>
                    <p th:text="${keyword.name}"></p>
                </td>
                <td class="text-start flows">
                    <th:block th:each="flowchart : ${keyword.flowcharts}">
                        <div class="mb-3">
                            <p class="text-center" th:text="|순서명 : ${flowchart.flow.name}|"></p>
                        </div>
                        <div class="mb-3">
                            <p class="text-center" th:text="|설명 : ${flowchart.flow.description}|"></p>
                        </div>
                        <div class="mb-3">
                            <p class="text-center" th:text="|url : ${flowchart.flow.url}|"></p>
                        </div>
                    </th:block>
                </td>
                <td>
                    <p th:text="${keyword.favorite}">자주찾는 목록</p>
                    <!--목록에서도 자주찾는 목록을 추가할 수 있도록 update 기능 추가하면 좋을 것 같음-->
                    <input class="form-check-input favorite" name="favorite" type="checkbox" id="flexCheckDefault" th:if="${keyword.favorite}" checked>
                    <input class="form-check-input favorite" name="favorite" type="checkbox" id="flexCheckDefault" th:if="!${keyword.favorite}">
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</div>
</html>
