<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout_sidebar}">
<div layout:fragment="content" class="container my-3">
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"> shadow 생성 폼</div>
    <!-- Page Content-->
    <p>내 쇼핑몰 정보 입력하기</p>
    <div>
        <p  th:text="쇼핑몰 명을 입력해주세요"></p>
        <p th:text="www.coupang.com"></p>
    </div>
    <p>내 쇼핑몰 순서도 등록하기</p>
    <button>주문</button>
    <p>장바구니</p>
    <p>주문하기</p>
</div>
</html>
