<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout_sidebar}">
<div layout:fragment="content" class="container my-3">
    <!-- 사이드 바 -->
    <nav th:replace="sidebar :: sidebarFragment"></nav>
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"><h2>shadow 목록</h2></div>
    <!-- Page Content-->
    <p>내 쇼핑몰</p>
    <div class="boarder-primary">
        <a th:href="@{/my/shadows/1}">쿠팡</a>
        <p >www.coupang.com</p>
    </div>
    <div class="boarder-primary">
        <a href="#">11번가</a>
        <p >www.11st.co.kr</p>
    </div>
</div>
</html>
