<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout_sidebar}">

<div layout:fragment="content" class="container my-3">

    <!-- 사이드 바 -->
    <nav th:replace="sidebar :: sidebarFragment"></nav>

    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"> <h2>shadow 생성 폼</h2></div>
    <!-- Page Content-->

    <h4>내 쇼핑몰 정보 입력하기</h4>
    <hr/>
    <form>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">쇼핑몰 명</span>
            <input type="text" class="form-control" placeholder="쇼핑몰 명을 입력해주세요">
        </div>

        <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon2">쇼핑몰 주소</span>
            <input type="text" class="form-control" placeholder="ex) www.coupang.com">
        </div>

    <h4>내 쇼핑몰 순서도 등록하기</h4>
    <hr/>

    <table class="table">
<!--        <thead class="table-dark">-->
        <thead>
        <tr class="text-center">
            <th>키워드</th>
            <th style="width:70%">순서도</th>
            <th>자주찾는 목록</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center datas">

            <td>
                <input type="text"/>
            </td>
            <td class="text-start flows">
                <input type="text" class="mb-3" />

                <div class="input-group mb-3">
                    <span class="input-group-text">안내메시지</span>
                    <input type="text" class="form-control" placeholder="해당 페이지에서 안내할 멘트를 입력해주세요">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">url</span>
                    <input type="text" class="form-control" placeholder="ex) www.coupang.com/mycoupang">
                </div>

                <button type="button" class="btn btn-primary ml-3 flowbtn" onclick="addFlow()"> + </button>
                <button type="button" class="btn btn-primary ml-3 flowbtn" onclick="deleteFlow()"> - </button>
            </td>

            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </td>

        </tr>
        </tbody>
    </table>

        <button type="button" class="btn btn-primary mb-3" onclick="addKeyword()">키워드 추가</button>
        <button type="button" class="btn btn-primary mb-3" onclick="deleteKeyword()">키워드 제거</button>

        <p>
            <button type="button" class="btn btn-primary btn-sm">챗봇 생성</button>
        </p>

    </form>
</div>

<script layout:fragment="script" type='text/javascript'>

    function addFlow(){
        var flows = document.getElementsByClassName("flows")[0];
        var flag = document.getElementsByClassName("flowbtn")[0];

        var flow = document.createElement("input");

        var flow_description = document.createElement("div");
        var flow_description_span = document.createElement("span");
        var flow_description_input = document.createElement("input");

        var flow_url = document.createElement("div")
        var flow_url_span = document.createElement("span");
        var flow_url_input = document.createElement("input");

        flow.setAttribute("type","text");
        flow.setAttribute("class","mb-3");

        flow_description.setAttribute("class","input-group mb-3");
        flow_description_span.setAttribute("class","input-group-text");
        flow_description_input.setAttribute("type","text");
        flow_description_input.setAttribute("class","form-control");
        flow_description_input.setAttribute("placeholder","해당 페이지에서 안내할 멘트를 입력해주세요");
        flow_description_span.innerHTML = "안내메시지";

        flow_url.setAttribute("class", "input-group mb-3");
        flow_url_span.setAttribute("class","input-group-text");
        flow_url_input.setAttribute("type","text");
        flow_url_input.setAttribute("class","form-control");
        flow_url_input.setAttribute("placeholder","ex) www.coupang.com/mycoupang");
        flow_url_span.innerHTML = "url";

        flow_description.append(flow_description_span, flow_description_input);
        flow_url.append(flow_url_span, flow_url_input);

        //flows.appendChild(flow);
        flows.insertBefore(flow, flag);
        flows.insertBefore(flow_description, flag);
        flows.insertBefore(flow_url, flag);
    }

    function deleteFlow(){

    }

    function addKeyword(){

        console.log("추가 함수 실해오디니?");

        document.getElementsByClassName("datas")[0].appendChild("<td th:text=\"키워드\">\n" +
            "\n키워드" +
            "            </td>\n" +
            "            <td class=\"text-start\">\n" +
            "                <input type=\"text\" />\n" +
            "                <button type=\"button\" class=\"btn btn-primary mb-3\">순서도 추가 추가</button>\n" +
            "            </td>\n" +
            "            <td>\n" +
            "                <input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\">\n" +
            "            </td>");
    }

</script>
</html>
