<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout_sidebar}">
<div layout:fragment="content" class="container my-3">
    <!-- 사이드 바 -->
    <nav th:replace="sidebar :: sidebarFragment"></nav>
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top"><h2>shadow 목록</h2></div>
    <!-- Page Content-->

    <h2>내 쇼핑몰</h2>
    <hr/>

    <table class="table">
        <!--        <thead class="table-dark">-->
        <thead>
        <tr class="text-center">
            <th>쇼핑몰 명</th>
            <th> 주소 </th>
            <th> 수정 </th>
            <th> 삭제 </th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr th:each="shadow : ${shadowList}" class="text-center datas"> <!-- th:object로 만들면 된다... db값을 가져와서 반복-->
            <td>
                <a th:href="@{|/shadow/detail/${shadow.id}|}" th:text="${shadow.name}"></a>
            </td>
            <td>
                <a th:text="${shadow.mainurl}"></a>
            </td>
            <td>
                <a th:href="@{|/shadow/update/${shadow.id}|}"> 수정</a>
            </td>
            <td>
                <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/shadow/delete/detail/${shadow.id}|}"> 삭제</a>
            </td>

        </tr>
        </tbody>
    </table>

    <a th:href="@{/shadow/create}"> Shadow 만들러가기</a>

</div>
</html>
