<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout_sidebar}">
<div layout:fragment="content" class="container my-3">
    <!-- 헤더-->
    <nav th:replace="header :: headerFragment"></nav>
    <div id="page-top">shadow docs</div>
    <!-- Page Content-->

    <a href="#">Developer's docs</a>
    <p>여기는 사이드바를 빼도 괜찮을 것 같아요</p>
    <p>아니면 docs 용 사이드 바를  따로 둬도 괜찮을 거 같습니다.</p>

</div>
</html>
